.stele-editor {
  border: 1px solid #edebe9;margin-bottom: 16px;
  min-height: 400px;

  .element {
    .actions {
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        .extra {
          display: inline-block;
          margin-left: 8px;
        }
      }
    }
    .actions.invisible {
      visibility: hidden;
    }
  }
  .element-active {
    background-color: rgba(224, 241, 255, 0.3);
    .actions {
      background-color: rgba(223, 235, 255, 0.2);
    }
  }
  .icon-button {
    border: none; background: none;color:#0078d4;
    padding: 4px; cursor: pointer;
    i {
      font-size: 16px;
      vertical-align: middle;
    }
  }
  .icon-button.active,.icon-button:hover {
    background: #edebe966;
  }
  .element-code-block {
    .code-block {
      margin: 0 0 4px;
    }
  }
  .toolbar {
    padding: 8px 16px 8px 16px;border-bottom: solid 1px #edebe9;
  }
  .icon {
    background-color:rgb(237 235 233 / 40%)
  }
  .body {
    margin-bottom: 16px;overflow-x: hidden;margin-top:0;padding:16px;
  }
  .code-block {
    background: #f6f6f6;
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0;
    line-height: 24px;

    .select-language {
      float: right;position: relative;top: 4px;
    }
  }
  .header {
    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
      margin-bottom: 0;
      padding: 4px 8px;
    }
  }
  .paragraph {
    position: relative;
    p {
      margin-top: 0;
      margin-bottom: 0;
      padding: 4px 8px;
    }
    .show {
      position: absolute;
      top: -32px;
      left: 40%;
      overflow: hidden;background-color:#fff;
    }
    .inline-code {
      background-color: #edebe9;
      padding: 0 4px;
      border-radius: 2px;
    }
  }
  .hidden {
    display: none;
  }
  .quote-block {
    border-left: 8px solid #dddfe4;
    background: #eef0f4;
    blockquote {
      margin: 0 0 0 16px;
      padding: 8px 0;
    }
  }
}
